---
import { Menu, ScrollProgress } from "@/components";
import { env } from "@/types/env";

import "@/styles/global.css";
import "@fontsource/raleway";
import "@fontsource/roboto";

const siteURL = env.PUBLIC_SITE_URL || "https://leticiabritto.com";
const canonicalURL = new URL(Astro.url.pathname, siteURL);
const instagramURL = env.PUBLIC_INSTAGRAM_URL;
const facebookURL = env.PUBLIC_FACEBOOK_URL;
const phoneNumber = env.PUBLIC_WHATSAPP_NUMBER;
const address = env.PUBLIC_ADDRESS;
const analyticsURL = env.PUBLIC_UMAMI_URL;
const analyticsWebSiteId = env.PUBLIC_UMAMI_WEBSITE_ID;

const title = `Psicóloga Letícia Brito | ${address} | CRP 12/30305`;
const description =
	"Psicoterapia Psicanalítica em Palhoça (Pedra Branca) e Online. Atendimento para adolescentes e adultos, focado em autoconhecimento e saúde mental. CRP 12/30305.";
---

<html lang="pt-BR">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/ico" href="/logo.ico" />
		<link rel="icon" href="/logo.ico" />
		<meta name="generator" content={Astro.generator} />

		<title>{title}</title>
		<meta name="description" content={description} />
		<meta
			name="keywords"
			content="Psicóloga Palhoça, Psicóloga Pedra Branca, Letícia Brito, CRP 12/30305, Psicoterapia Palhoça, Psicanálise Palhoça, Saúde Mental Palhoça, Psicóloga Online"
		/>
		<meta name="author" content="Leticia Brito" />
		<meta name="robots" content="index, follow" />
		<meta name="theme-color" content="#8d0d0d" />
		<link rel="canonical" href={canonicalURL} />

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content="/og-image.jpg" />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={Astro.url} />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />
		<meta property="twitter:image" content="/og-image.jpg" />

		<!-- Local Business Schema -->
		<script
			type="application/ld+json"
			is:inline
			set:html={JSON.stringify({
				"@context": "https://schema.org",
				"@type": "LocalBusiness",
				name: "Psicóloga Letícia Brito",
				image: `${siteURL}/logo.svg`,
				"@id": `${siteURL}`,
				url: `${siteURL}`,
				telephone: `${phoneNumber}`,
				address: {
					"@type": "PostalAddress",
					streetAddress: "R. da Praça, 241 - Cidade Universitária Pedra Branca",
					addressLocality: "Palhoça",
					addressRegion: "SC",
					postalCode: "88137-086",
					addressCountry: "BR",
				},
				geo: {
					"@type": "GeoCoordinates",
					latitude: -7.62151414903566,
					longitude: -48.6775439599411,
				},
				openingHoursSpecification: {
					"@type": "OpeningHoursSpecification",
					dayOfWeek: [
						"Segunda-feira",
						"Terça-feira",
						"Quarta-feira",
						"Quinta-feira",
						"Sexta-feira",
					],
					opens: "07:00",
					closes: "21:00",
				},
				sameAs: [instagramURL, facebookURL],
			})}
		/>

		<!-- ANALYTICS -->
		<script defer src={analyticsURL} data-website-id={analyticsWebSiteId}
		></script>
	</head>
	<body>
		<Menu client:visible />
		<slot />
		<ScrollProgress client:visible />
	</body>
</html>
